<h1><%= @restaurant.name %></h1>
<h4><%= @restaurant.address %></h4>
<h4><%= @restaurant.phone_number %></h4>
<h4><%= @restaurant.category %></h4>
<p><%= link_to 'Back', restaurants_path %></p>
<hr>
<h2>Reviews</h2>
<% @restaurant.reviews.each do |review| %>
  <p>⋅ <%= review.content %> - <%= review.rating %></p>
<% end %>

<%= render 'restaurants/form', restaurant: @restaurant, review: @review %>
